.modal {
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #0489c6;
    background: #e0e0e0dd;
    box-shadow: 21px 21px 54px #5a5a5a,
        -21px -21px 54px #ffffff23;
    border-radius: 26px;
    max-width: 450px;
}

p {
    font-size: 10px;
    font-weight: 600;
    color: #dd4242;
    margin-top: -8px;
    margin-left: 10px;
    margin-bottom: 10px;
}   

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.credit-card-info--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.split {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
}

.split input {
    width: 90%;
}

.input_label {
    font-size: 10px;
    color: #8B8E98;
    font-weight: 600;
    margin-left: 8px;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    margin-bottom: 10px;
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

.purchase--btn {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background: linear-gradient(180deg, #0ba0e5 0%, #0878b5 60%, #065a8a 80%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #0878b5;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0ba0e5;
}

.purchase--btn:active {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #065a8a;
    transform: scale(0.95, 0.95);
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input_field[type=number] {
    -moz-appearance: textfield;
}